{{ template "header.tmpl" .}}
<div>
<h2>
    {{.Asset.CertificateLabel}}
</h2>
<h3>"{{.Asset.Name}}," - featuring Neïl Beloufa, Sarah Rosalena Brady, Alice Bucknell, Juan Covelli, Alexandra Koumantaki, Amanda Ross-Ho, Hirad Sab</H2>
    <img src="{{ .ServerAddr }}/digital-asset/ipfs-hash/{{.DigitalAsset.ThumbnailIPFSHash}}"/>
<h3>Certificate of Authenticity</h2>
    <p>
        This document certifies that {{ .Issuer.DisplayName }} declares the piece of artwork mentioned below, to be an authentic, original piece of art by EPOCH and the participating artists' creative efforts.
    </p>
    <p>
        The digital source of the piece “{{.Asset.Name}}" has been released by {{ .Issuer.DisplayName }} and it will be stored 'forever' with cryptographic hash <strong> QmeUkVbadwBoivHGWKxDD8EMSgLNGVa593fD1iEAxhoxiA </strong>
    </p>
    <p>
        The medium of the piece is: <strong> 8K virtual exhibition featuring a compilation of artworks by participating artists (playable stand-alone Windows/Mac compatible file, viewable on VR headsets) </strong>.
    </p>
    <p>
        A high definition digital image representing the work “{{.Asset.Name}}" has been released by {{ .Issuer.DisplayName }} and it will be stored 'forever' with cryptographic hash {{ .DigitalAsset.SourceIPFSHash }}
    </p>
    <p>
        The thumbnail is a lower definition copy of the digital image representing the work “{{.Asset.Name}}". It has been released under licence Creative Commons License (CC BY-NC-ND) and it will be stored 'forever' with cryptographic hash {{ .DigitalAsset.ThumbnailIPFSHash }}.

        Metadata describing the work “{{.Asset.Name}}" has been released under licence Creative Commons License (CC BY-NC-ND) and it will be stored 'forever'.
    </p>
    <p>
        Of the exhibition dated 2021-06-12, were produced {{ .Asset.EditionTotal }} original and unique cryptographic UNCOPIED certificate tokens
        and {{ .Asset.EditionTotal }} original and unique cryptographic EPOCH NFTs constituting the limited digital edition.

        Each UNCOPIED token (non-tradable and inalienable) corresponds to a single EPOCH NFT (tradable) : each element of one set is paired with exactly one element of the other set.

        The 13 tokens are labeled as follow:
        <ul>
            <ol>
                <li>{{.Issuer.DisplayName}}, "{{.Asset.Name}}," {{.CurrentYear}}; 1/5</li>
                <li>{{.Issuer.DisplayName}}, "{{.Asset.Name}}," {{.CurrentYear}}; 2/5</li>
                <li>{{.Issuer.DisplayName}}, "{{.Asset.Name}}," {{.CurrentYear}}; 3/5</li>
                <li>{{.Issuer.DisplayName}}, "{{.Asset.Name}}," {{.CurrentYear}}; 4/5</li>
                <li>{{.Issuer.DisplayName}}, "{{.Asset.Name}}," {{.CurrentYear}}; 5/5</li>
            </ol>
            <ol>
                <li>{{.Issuer.DisplayName}}, "{{.Asset.Name}}," {{.CurrentYear}}; 1/8 AP</li>
                <li>...</li>
                <li>{{.Issuer.DisplayName}}, "{{.Asset.Name}}," {{.CurrentYear}}; 8/8 AP</li>
            </ol>
        </ul>
    </p>
    <p>
        This particular Certificate of Authenticity is attached to the unique pair of cryptographic tokens (UNCOPIED, EPOCH) with label :
        <strong>
            {{ .Asset.AssetLabel }}
        </strong>
    </p>
</div>

<div title="header"><p style="margin-bottom: 0.46in; line-height: 100%">
	<br/>
    <p style="page-break-before: always">

	</p>
</div><p align="center" style="margin-bottom: 0in; line-height: 100%">
<b>E   P  O  C  H</b></p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><b>COLLECTOR
AGREEMENT</b></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<b>The Basics</b></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
This Collector Agreement (the “Agreement”) regarding the
acquisition of an NFT for one of EPOCH’s interactive environments
(the “Project”), is between EPOCH and the purchaser (the
“Collector”) of one or more of the EPOCH NFTs (the “NFT”)
minted on Algorand, an ecologically friendly blockchain, representing
ownership of a digital asset (the “Asset”).
</p>

<p style="margin-bottom: 0in; line-height: 100%">This Agreement is
intended to be informational, discursive, and also readable and
understandable by non-lawyer NFT Collectors, so that there is no
confusion as to inspiration, intention, application, and scope of the
terms.  The parties to this Agreement acknowledge the importance of
mutual assent in the formation of an enforceable agreement, and the
need to recognize the value of the artistic process beyond the
primary transaction.  Purchasers of the Assets are encouraged to
engage both philosophically and financially with this Project as
innovators in a uniquely<font color="#ff0000"> </font>collaborative
and creative process.  Part of that process includes sharing the
information and experience by circulating the Asset and all
accompanying documentation to others.  Every exchange provides an
opportunity for the value of EPOCH’s model to be recognized, and
for a broader creative community comprised of the contributing
artists to receive support: elevating the place of artists, and
advocating for environmentally sustainable practices.</p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#000000"><span style="letter-spacing: -0.2pt"><b>EPOCH
Background</b></span></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#000000"><span style="letter-spacing: -0.2pt">Since
early 2020, at the beginning of the Coronavirus quarantine, EPOCH set
out to create critical and engaging exhibitions during a time of
unrest. As an artist-run virtual experiment, the digital space
functions as an inclusive, community-building platform inviting
established and emerging artists working in both digital and analog
mediums to participate.  </span></font><font color="#000000">EPOCH
pushes boundaries and explores new realms for creating, showing, and
selling artwork, in a series of virtual online exhibitions consisting
of compilation works that are imagined, conceptualized, curated,
sourced, compiled, rendered, crafted, uploaded, marketed, and sold
only in a digital format.</font><font color="#000000"><br/>
</font><font color="#202020"><br/>

<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<br/>

</p>
</font><font color="#202020"><span style="letter-spacing: -0.2pt"><b>Why
NFTs?</b></span></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#202020"><span style="letter-spacing: -0.2pt">With
the emergence of the NFT, many of the participating artists looked to
EPOCH to bridge the gap between the crypto and contemporary art
worlds. Being primarily artist-centric, EPOCH established itself as a
virtual destination that challenges the status quo with its critical
and innovative approach to curation and exhibition building.
Continuing an ethos for innovation, through EPOCH, Peter Wu+ and the
other artists involved with each exhibition are forging ahead into
uncharted digital terrain, creating an equitable, collaborative, and
sustainable system to engage both artists and collectors.  </span></font><font color="#202020"><span style="letter-spacing: -0.2pt">To
this end, EPOCH is working with&nbsp;</span></font><a href="https://uncopied.art/" target="blank"><font color="#000000">uncopied.art</font></a><font color="#202020"><span style="letter-spacing: -0.2pt">&nbsp;to
mint its NFTs on Algorand which is a&nbsp;</span></font><a href="https://www.algorand.com/technology/pure-proof-of-stake" target="blank"><font color="#000000">pure
proof of stake</font></a> <font color="#202020"><span style="letter-spacing: -0.2pt">blockchain,
and is 99.9% less impactful on our environment than proof of work
blockchains such as Ethereum.</span></font></p>

<p style="margin-bottom: 0in; line-height: 100%"><font color="#202020"><span style="letter-spacing: -0.2pt">Through
Algorand’s smart contracts, profits can be automatically split
between the participating artists and EPOCH. Differentiating this
system from most traditional gallery systems, 70% will be split
evenly amongst all the participating artists and 30% will remain with
EPOCH. 20% royalties for secondary market sales will be evenly
distributed amongst all the artists and EPOCH. Each participant will
receive one NFT representing an Artist Proof (AP) edition. These AP
editions are not part of the 5 publicly-offered editions for sale,
but should they be sold by an artist, will carry the same secondary
market terms as the 5 NFTs in the publicly-offered edition.</span></font></p>
<p style="margin-bottom: 0in; letter-spacing: -0.2pt; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<font color="#000000"><b>The Art</b></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<font color="#000000">This project in no way takes any ownership
interest from the individual artists, but rather seeks permission to
use their artworks for a limited and non-exclusive purpose.  The
exhibition as presented by EPOCH is neither conceived as or ever
intended to become a physical work.  </font>
</p>

<p style="margin-bottom: 0in; line-height: 100%"><font color="#000000">In
order to create each iteration of EPOCH, contributing artists give
permission for existing artworks or the creation of new artworks in
any medium, to be recreated or rendered in the digital realm (the
final digital versions of which are approved by the artists of the
respective artworks). Each EPOCH exhibition (the “Exhibition”) is
a compilation of many elements, and the inclusion of each individual
artist’s artwork is only one component of the project.  </font><font color="#202020"><span style="letter-spacing: -0.2pt">EPOCH
mints the entire virtual exhibition as a singular NFT containing a
compilation of artworks by participating artists.</span></font></p>
<p style="margin-bottom: 0in; letter-spacing: -0.2pt; line-height: 100%">
<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#202020"><span style="letter-spacing: -0.2pt"><b>Future
Impact</b></span></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#202020"><span style="letter-spacing: -0.2pt">This
collaborative model will support the production of future exhibitions
and the practices of all of its participating artists. EPOCH has
chosen to forgo an auction format in hopes to circumvent the
accelerated speculation of the current market. This alternative and
sustainable model aims to pave the way for artists to access and/or
create marketplace systems other than traditional gallery systems or
marketplaces.</span></font></p>

<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<font color="#202020"><span style="letter-spacing: -0.2pt">As a
Collector, you are directly supporting these, and other, critical
efforts that go beyond the boundaries of the art alone.  Thank you
for your participation, support, and solidarity.</span></font></p>
<p style="margin-bottom: 0in; line-height: 100%; orphans: 0; widows: 0">
<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><b>Terms of the
Agreement</b></p>
<p style="margin-bottom: 0in; line-height: 100%">By purchasing one or
more Asset, Collector understands, acknowledges, and agrees to the
terms of this Agreement as follows:</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol>
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Scope of
	Agreement</b>.  As soon as possible, but in any event within a
	reasonable time after purchasing the Asset, Collector will receive a
	token representing ownership of the particular Exhibition (the
	“Asset”) associated with the NFT.
	</p>
</ol>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="2">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Term and
	Termination of Agreement</b>.  While nothing is truly forever, EPOCH
	will use reasonable efforts to ensure that this NFT remains
	functional and the Asset is accessible for as long as reasonably
	practicable, which will hopefully be close to “forever”.  In the
	event of technological changes, migrations to new platforms or
	systems, or any other technology evolution or shift that is not
	compatible with the structure and nature of the NFT; termination or
	destruction of the currency or blockchain on which the NFT is
	minted; or the inaccessibility or destruction of the link to the
	Asset for the aforementioned or any other reasons, this Agreement
	will automatically terminate and EPOCH will have no further
	obligations hereunder.  Upon the termination of this Agreement for
	any reason, Collector may retain legal ownership of any digital or
	physical assets in Collector’s possession, and will continue to be
	bound by any moral rights that exist with regard to any physical
	objects acquired as a result of this Agreement.</p>
</ol>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="3">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>The Asset.
	</b><font color="#000000">The NFTs will be minted on the Algorand
	blockchain, or any other platform that may be determined to best
	serve EPOCH’s purposes.  Each NFT will include access to download
	a playable stand-alone version of the exhibition.  </font>The
	digital asset to which the NFT points will be stored on the
	InterPlanetary File System (IPFS).  As a backup measure, upon
	purchase Collector should download the digital file of the Asset and
	store it in a secure location. In the event that the link between
	the NFT and the Asset is broken or not properly functioning,
	Collector will have the Asset file with confirmation of its origin.
	It is imperative that Collector save this file and the transmittal
	email for provenance and proper recordkeeping.  Additionally, in the
	event the link between the NFT and the Asset is broken or not
	properly functioning, Collector may contact EPOCH at
	<a href="mailto:info@epoch.gallery">info@epoch.gallery</a> and EPOCH
	will use reasonable efforts to remedy the situation in a fair and
	practicable manner.</p>
</ol>
<p style="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="4">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>EPOCH’s
	Representations and Warranties.  </b>EPOCH represents and warrants
	that it is the creator of the Asset and the NFT, and to the best of
	its knowledge, nothing in the Asset or the NFT violates any other
	intellectual property rights.<b> </b>
	</p>
</ol>
<p style="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="5">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Assets.
	</b><font color="#000000">Through NFTs, EPOCH has created sellable
	versions of each of the Exhibitions in order to benefit the
	participating artists, fund future exhibitions, and maintain a
	sustainable artistic practice for all participants.  Each EPOCH
	Exhibition will be uploaded and experienced online for a limited
	time on EPOCH’s website (the “Website”) at
	<a href="https://epoch.gallery/">https://epoch.gallery/</a>.   EPOCH
	will mint each exhibition in its entirety as an edition of 5 NFTs
	that will be for sale to collectors.  Additionally, 8 APs will be
	minted for each artist contributing work to the exhibition and
	EPOCH.  One AP will be transferred to each artist’s crypto wallet
	at the end of the exhibition’s run.  </font>
	</p>
</ol>
<p style="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="6">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Intellectual
	Property Ownership.  </b>All intellectual property pertaining to the
	Asset including but not limited to copyright, including applicable
	moral rights, and trademark, remains with EPOCH. The rights to the
	artworks included in the Asset all remain with the contributing
	artists.  Under no circumstances is Collector allowed to reproduce
	the Asset in any medium or create derivative works without EPOCH’s
	specific written consent.  Collector’s purchase of an NFT entitles
	the Collector to ownership of that NFT and the rights to privately
	display the Asset, and to resell the NFT pursuant to the terms of
	this Agreement.</p>
</ol>
<p style="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="7">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Right to
	Display Publicly.  </b>Collector may display the Asset publicly but
	must include credit to the participating artists and EPOCH including
	a copyright notice, and refer to EPOCH’s webpage as follows:</p>
</ol>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">“FREEPORT&quot; -
featuring Neïl Beloufa, Sarah Rosalena Brady, Alice Bucknell, Juan
Covelli, Alexandra Koumantaki, Amanda Ross-Ho, Hirad Sab) ©2021
EPOCH.  All Rights Reserved. www.epoch.gallery</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="8">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Ownership.</b>
	 There is sometimes the misperception that by owning an artwork, a
	collector owns all rights including intellectual property rights
	like copyright.  This is not the case with object-based artwork, and
	it is also not the case with NFTs.  Even though a Collector does not
	have any intellectual property rights in the Asset to which the NFT
	points, there are definitely responsibilities that come with
	ownership.  The responsibilities that come with either collecting
	art or participating in society require attention and maintenance.
	This transaction is no different, and thus, Collector agrees to
	participate in this NFT ownership pursuant to the terms of this
	Agreement.</p>
</ol>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="9">
	<li><p style="margin-bottom: 0in; line-height: 100%"><a name="_GoBack"></a>
	<b>Asset Resale.  </b>In order to maintain a sustainable career
	trajectory many artists are including a period during which
	collectors may not resell artwork, in this case however, Collector
	is free to sell the NFT at any time as long as that sale occurs
	completely on-chain, and on Algorand or another proof of stake
	blockchain compatible with Algorand, with no money or other
	compensation changing hands off-chain.
	</p>
</ol>
<p style="margin-left: 0.5in; margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="10">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Resale
	Royalties</b>.  Upon resale, 20% of the gross resale price will be
	equally divided and paid to EPOCH and each of the participating
	artists whose works were included in that Exhibition.<b> </b>
	</p>
</ol>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="11">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Consequences
	and Remedies.  </b>In the event that the Asset becomes inaccessible
	or unavailable for any reason at all, this Agreement automatically
	terminates pursuant to section 2 above, though all intellectual
	property obligations will survive.  Because the eternal stability of
	the Asset cannot be guaranteed, it is highly encouraged that
	Collector download the Asset and maintain the Asset in a secure
	location to guard against the possibility of losing access in the
	event the link from the NFT to the Asset breaks for any reason.</p>
</ol>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="12">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Dispute
	Resolution.  </b>In the event any disputes arise out of this
	Agreement, the parties agree to resolve such disputes only by mutual
	agreement or mediation with a mutually-agreed-upon neutral third
	party.  The parties waive any and all rights to bring disputes to
	arbitration or litigation in any form or forum.  Each party will be
	responsible for its own attorney fees and costs.
	</p>
</ol>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="13">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Disclaimer
	of Liability.  </b>In no event will EPOCH, or any collaborators,
	employees, agents, representatives, attorneys, or assigns, be liable
	or responsible for any loss or damage of the NFT or Asset due to any
	technological advancements, evolution of platforms or digital
	environments, or failure in any part of the system that results in
	link breakage or destruction of the Asset for any reason, including
	but not limited to any negligent action or inaction of the Artist or
	any collaborators, employees, agents, representatives, or assigns.
	</p>
</ol>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="14">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Effect of
	Future Regulations.  </b>In the event that federal or state
	regulations are instituted in the future that require NFT owners to
	adhere to rules, laws, or policies; take specific actions with
	regard to their NFT ownership; or provide additional information to
	comply with any governmental regulations including but not limited
	to IRS, SEC, or other international transaction standards intended
	to combat money laundering (AML) and fraud such as Know Your Client
	(KYC) regulations, Collector agrees to abide by such rules, laws,
	policies, regulations, and/or standards.  In no event will the
	Artist or any collaborators, employees, agents, representatives, or
	assigns be responsible for any direct or indirect consequences of
	such future rules, laws, policies, regulations, and/or standards.</p>
</ol>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="15">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Nonwaiver. </b>
	In the event EPOCH chooses not to exercise any rights or remedies
	set forth in this Agreement, such choice will not be interpreted as
	a waiver of the terms of the Agreement in the future.</p>
</ol>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="16">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Integration.
	 </b>This Agreement incorporates the entire understanding between
	the parties and supersedes any other understandings, whether oral or
	written.  To be effective, an amendment, to this Agreement must be
	in a document signed by an authorized representative of each party.
		</p>
</ol>
<p align="justify" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<ol start="17">
	<li><p style="margin-bottom: 0in; line-height: 100%"><b>Agreement.</b>
	 The Collector acknowledges and understands that by purchasing the
	NFT, Collector has committed to and will hereinafter be bound by the
	terms of this Agreement.</p>
</ol>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<div title="footer"><p style="margin-top: 0.46in; margin-bottom: 0in; line-height: 100%">
	<br/>

	</p>
</div>

{{ template "footer.tmpl" .}}