{{ template "header.tmpl" .}}
<div>
<h1>
    {{ .Asset.CertificateLabel }}
</h1>
<h2>Certificat d'authenticité pour une oeuvre originale unique</h2>
    <p>
        Ce document certifie que {{ .Issuer.DisplayName }} déclare <strong>{{ .Asset.CertificateLabel }}</strong>
        comme étant une oeuvre unique, authentique et le résultat du processus de création de son auteur.
    </p>
    <p>
        Une image en haute définition qui représente l'oeuvre est distribuée sous la license <strong>TOUS DROITS RESERVES</strong> et
        elle sera disponible pour l'éternité (sauf exceptions pour le contenu illégal et répréhensible)
        avec la clé de hachage cryptographique {{ .DigitalAssets.PrimaryImage.SourceIPFSHash }}.
    </p>
    <p>
        L'image ci-dessous est une représentation en basse définition marquée par stéganographie et distribuée sous licence Creative Commons CC-BY-ND-4
        et elle sera disponible pour l'éternité (sauf exceptions pour le contenu illégal et répréhensible)
        avec la clé de hachage cryptographique {{ .DigitalAssets.PrimaryImage.ThumbnailIPFSHash }}.

        Les méta-données de l'oeuvre (les informations comme : title, nom de l'auteur etc.) sont distribuées sous licence Public Domain CC0
        et elles seront disponibles pour l'éternité (sauf exceptions pour le contenu illégal et répréhensible).
    </p>
    <p>
        Le label chirographique et le jeton cryptographique correspondent exactement à UN object physique original et unique.
    </p>
    <p>

    </p>
    <img src="{{ .ServerAddr }}/digital-asset/ipfs-hash/{{.DigitalAssets.PrimaryImage.ThumbnailIPFSHash}}"/>

</div>
{{ template "footer.tmpl" .}}