{{ template "header.tmpl" .}}
<div>
<h2>
    {{.Asset.CertificateLabel}}
</h2>
<h3>"{{.Asset.Name}}," - featuring Gordon Cheung, Galath3a, Hung Yu Hao, Keiken, Katja Novitskova, Jennifer West, Dr. Woo, Qianqian Ye + Tiare Ribeaux. Original Music by Konrad Black.</H2>
    <img src="{{ .ServerAddr }}/digital-asset/ipfs-hash/{{.DigitalAssets.PrimaryImage.ThumbnailIPFSHash}}"/>
<h3>Certificate of Authenticity</h2>

</div>
{{ template "footer.tmpl" .}}