{{ template "header.tmpl" .}}
<body>
<div>
<h1>
    {{ .Asset.CertificateLabel }}
</h1>
<h2>Certificate of Inventory</h2>

    <div id="main">
        <div id="content" class="column" role="main">
            <a id="main-content"></a>
            <h1 class="title" id="page-title">{{ .AssetProperties.ArtworkName }}</h1>
            <div class="ds-2col node node-art-object view-mode-full clearfix">
                <div class="group-left">
                    <div class="art-media-container art-media-2293218 id-0 active">
                        <div class="media-asset-image">
                            <img src="{{ .ServerAddr }}/digital-asset/ipfs-hash/{{.DigitalAssets.PrimaryImage.ThumbnailIPFSHash}}"></div>
                            <div class="field-name-field-copyright-text">“Artwork from the collection of the Los Angeles County Museum of Art.”
                                                                         “© {{ .AssetProperties.CopyrightYear }} {{ .AssetProperties.ArtistName }}, All Rights Reserved.”
                            </div>
                    </div>
                </div><!-- group left -->

                <div class="group-right">
                    <div class="field field-name-title field-type-ds field-label-hidden"><div class="field-items"><div class="field-item even" property="dc:title"><h1>{{ .AssetProperties.ArtworkName }}</h1></div></div></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field"></div><div class="field artist-name"><h2><div>
                    {{ .AssetProperties.ArtistName }} ({{ .AssetProperties.ArtistBirthPlace }}, born {{ .AssetProperties.ArtistBirthDate }})
                    </div></h2></div>2016<div class="field">Collages</div><div class="field">16mm polyester film, cotton-wrapped polyester thread, lithography ink</div><div class="field">68 1/8 × 45 in. (173.04 × 114.3 cm)
                    Framed: 74 × 50 5/8 × 6 11/16 in. (187.96 × 128.59 × 16.99 cm)</div><div class="field">Gift of the 2020 Decorative Arts and Design Acquisitions Committee (DA2) in memory of Peter Loughrey (M.2020.80)</div><div class="field">Decorative Arts and Design</div><div class="field on-view"><span class="on-view-status">Not currently on public view</span></div>
                    <div id="art-content-blocks">
                        <div class="group">
                            <h2 class="title"><span>Curator Notes</span></h2>
                            <div class="group-content">
                                <div class="group-expanded">
                                    {{ .AssetProperties.CuratorNodes }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- /#content -->
    </div>
</div>
</body>
{{ template "footer.tmpl" .}}