{{ template "header.tmpl" .}}
<div>
<h1>
    {{ .Asset.CertificateLabel }}
</h1>
<h2>Certificat de récolement - Inventaire n° {{ .AssetProperties.InventoryId }} - {{ .Asset.Name }} </h2>
    <p>
        Ce document certifie que l'objet
        <strong> “{{.Asset.Name}}" </strong>
        numéroté {{ .AssetProperties.InventoryId }} à l'inventaire fait partie de la collection permanente du {{ .Issuer.DisplayName }} en date du {{ .AssetProperties.InventoryDate }}.
    </p>
        <div>
        <table>
        <thead>
          <tr>
            <th>Clé</th>
            <th>Valeur</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Organisme certificateur (OC)</td>
            <td>{{ .Issuer.DisplayName }}</td>
          </tr>
          <tr>
            <td>Numéro d'inventaire</td>
            <td>{{ .AssetProperties.InventoryId }}</td>
          </tr>
          <tr>
            <td>Type d'objet</td>
            <td>{{ .AssetProperties.ObjectType }}</td>
          </tr>
          <tr>
            <td>Nom ou titre</td>
            <td>{{ .Asset.Name }}</td>
          </tr>
          <tr>
            <td>Artist</td>
            <td>{{ .AssetProperties.Artist }}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{ .AssetProperties.Description }}</td>
          </tr>
          <tr>
            <td>Dimensions</td>
            <td>{{ .AssetProperties.Height }} x {{ .AssetProperties.Width }} x {{ .AssetProperties.Depth }} cm</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td>{{ .AssetProperties.Weight }} grammes </td>
          </tr>
          <tr>
            <td>Matériaux</td>
            <td>{{ .AssetProperties.Material }}</td>
          </tr>
          <tr>
            <td>Technique de production</td>
            <td>{{ .AssetProperties.Technique }}</td>
          </tr>
          <tr>
            <td>Bibliographie</td>
            <td>{{ .AssetProperties.Bibliography }}</td>
          </tr>
          <tr>
            <td>Provenance</td>
            <td>{{ .AssetProperties.Provenance }}</td>
          </tr>
          <tr>
          <td>Date ou Période de Production</td>
            <td>{{ .AssetProperties.TimespanBegin }} - {{ .AssetProperties.TimespanEnd }}</td>
          </tr>
        </tbody>
        </table>
    </div>
    <p>
        Une image en haute définition représentant l'objet “{{.Asset.Name}}" a été publiée par le {{ .Issuer.DisplayName }} avec la clé cryptographique {{ .DigitalAsset.SourceIPFSHash }} pour un stockage permanent sous licence :
        <strong>Tous droits réservés</strong>.
    </p>
    <p>
        Une image en basse définition représentant l'objet “{{.Asset.Name}}" a été publiée par le {{ .Issuer.DisplayName }} avec la clé cryptographique {{ .DigitalAsset.ThumbnailIPFSHash }} pour un stockage permanent sous licence :
        <strong>Creative Commons License (CC BY-NC-ND)</strong>.

        Les métadonnées décrivant l'objet “{{.Asset.Name}}" ont été publiées par le {{ .Issuer.DisplayName }} pour un stockage permanent sous licence :
        <strong>Creative Commons Public Domain (CC0)</strong>.
    </p>
    <img src="{{ .ServerAddr }}/digital-asset/ipfs-hash/{{.DigitalAsset.ThumbnailIPFSHash}}"/>

</div>
{{ template "footer.tmpl" .}}